# Ignore build results
bin/
obj/

# Ignore user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore Visual Studio files
.vscode/
.vs/

# Ignore test results
TestResults/

# Ignore logs
*.log

# Ignore temporary files
*.tmp
